<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ТвойПомощник"
        tools:targetApi="31">
        <activity
            android:name=".AccountDeletedActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CohialActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DeletedChatActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DeletedRaspisanie"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DonatActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainAfterLogin"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".NewRaspisanieActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ProfilChatActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ProfilToUserActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".RaspisanieActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".RenamePaspisanie"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SettingsToAccountRenameActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </application>
</manifest>
